.mainStat {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top:14px;
}
.head {
    align-items: flex-start;
}
.mainStatItem {
    display: flex;
    padding: 16px;
    flex-direction: column;
    align-items: center;
    margin: 0 5px 25px;
    min-width: 110px;
    flex: 1;
    cursor: pointer;
}
.name {
    font-size: 1em;
}
.mainStatValue {
    font-size: 1.5em;
    padding: 5px;
}
.mainStatModifier {
    font-size: 1em;
    margin-bottom: -28px;
    position: relative;
    padding: 10px;
    box-shadow: 0 4px 20px 0 rgba(0,0,0,0.2), 0 7px 10px -5px rgba(0,0,0,0.14) !important;
}
.listItem {
    padding: 0px 15px 0px !important;
}
.listItem span{
    font-weight: bold;
    padding: 0px 15px 0px !important;
}
.listItem .MuiListItemIcon-root {
    min-width: 15px !important;
    margin-left: -24px;
}
.secondStats .listItem.nested {
    font-weight: normal;
    padding-left:5px !important;
}
.listItem.nested span {
    font-weight: normal;
}
.listItem .MuiListItemIcon-root {
    min-width: 35px;
}
.colorPicked {
    background-color: aqua;
}
.lifeStats .armorClass,
.lifeStats .hitDice {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.lifeStats .mainStatValue{
    font-size: 1.5em;
    display:flex;
    align-items:center;
    justify-content: center;
    flex: 1;
}
.secondStats,
.savingThrows{
    margin-bottom: 1.5em !important;
    padding: 5px !important;
    font-weight: bold;
}
.lifeStats {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1.5em;
}
.lifeStats .MuiPaper-root {
    margin: 0 1em;
    flex: 1;
    text-align: center;
    padding: 16px;
}
.lifeStats .tempHitDice,
.lifeStats .masterBonus {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.lifeStats .tempHitDice .value,
.lifeStats .hitDice .value,
.lifeStats .masterBonus .value{
    font-size: 1.5em;
    display:flex;
    align-items:center;
    justify-content: center;
    flex: 1;
}
.savingThrowsDead .MuiButtonBase-root {
    padding: 5px;
}
.savingThrowsDead .row {
   justify-content: center;
}
.lifeStats .maxHP {
    font-size: 1.2em;
}
.mainStatTopSideWrapper {
    display: flex;
    flex-wrap: wrap;
}
.mainStatTopSide {
    display: flex;
    align-items: center;
    min-width: 110px;
    flex: 1;
    flex-direction: row;
    margin: 0 5px 14px;
    padding: 10px;
}
.mainStatTopSide .name {
    flex-basis: 100px;
}
.mainStatTopSide .mainStatValue {
    flex: 1;
    text-align: center;
    font-size: 2em;
    padding: 0;
}
.littleField input {
    max-width: 50px;
    text-align: center;
}
.textWrapper {
    position: relative;
    padding: 16px 0px 8px;
    display: flex;
    align-items: center;
    flex: 1 0 auto;
}
.weaponItem {
    display: flex;
    justify-content: space-between;
    padding: 0px 8px !important;
    margin-left: 0px !important;
    margin-right: 1em !important;
    margin-bottom: 4px!important;
    max-width: 360px;
}
.weaponItem .label {
    top: 0;
    left: 0;
    position: absolute;
    font-size: 0.6rem;
    padding: 3px 3px 3px 5px;
    color: #3256af;
}
.weaponItem .textBox{
    background-color: rgba(0, 0, 0, 0.09) !important;
    padding: 5px 8px 5px;
    border-radius: 5px;
    font-size:1.2em;
    min-height: 35px;
    display: flex;
    align-items: center;
}
.weaponItem .weaponBtn {
    height: 35px;
}
.weaponItem .weaponBtn span{
    font-size: 1.2em;
    line-height: 1.5em;
    text-transform: lowercase;
}
.weaponItem .textBox.button:hover {
    background-color: rgba(0, 0, 0, 0.13);
}
.weaponItem .accuracy, .weaponItem .damage{
    padding: 5px 10px;
    margin: 0 5px;
}
.weaponItem .btnGroup {
    display: flex;
    justify-content: space-between;
}
.weaponItem .name{
    font-size: 0.7em;
    min-width: 110px;
}

/** media queries **/
@media  (max-width: 1280px){
    .weaponItem .name{
        font-size: 1.2em;
    }
}
@media (max-width: 1100px) {
    .mainStatItem {
        display: flex;
        flex-direction: row;
        margin: 0 5px 14px;
        padding: 10px;
    }
    .mainStatValue {
        flex: 1;
        text-align: center;
        font-size: 2em;
        padding: 0;
    }
    .mainStatModifier {
        margin: 0 -25px 0 0;
    }
    .mainStat .name {
        flex-basis: 100px;
    }
    .listItem {

    }
    .listItem span{
        font-size: 1em;
        min-width: 153px;
    }
    .lifeStats .MuiPaper-root {
        margin: 0 8px;
        flex: 1 1;
        text-align: center;
        padding: 16px 8px;
    }
    .lifeStats {
        margin-bottom: 14px;
    }
}
@media (max-width: 880px) {
    .weaponItem .name{
        font-size: 0.7em;
    }
}
@media (max-width: 810px) {
    .listItem {
        padding: 0px 4px 0px !important;
    }
    .listItem span{
        padding: 0px 2px 0px !important;
    }
    .mainStatTopSide .name,
    .mainStat .name {
        font-size: 0.8em;
        flex-basis: 80px;
    }
    .mainStatTopSide .mainStatValue,
    .mainStatValue {
        font-size: 1.2em;
    }
}
@media (max-width: 600px) {
    .mainStat .name {
        font-size: 1em;
        flex-basis: 100px;
    }
    .mainStatTopSide .mainStatValue,
    .mainStatValue {
        font-size: 2em;
    }
    .lifeStatsWrapper {
        flex-wrap: wrap;
    }
}
@media (max-width: 420px) {
    .mainStat .name {
        font-size: 0.7em;
        flex-basis: 100px;
    }
    .mainStatTopSide .mainStatValue,
    .mainStatValue {
        font-size: 1.5em;
    }

}